@import '@styles/config';
@import '@styles/mixins/no-select';

.modal.settings {
    width:  500px;

    .tab { padding: 20px 25px 20px 25px;}
    .tabs {
        li:first-child {
            margin-left: 25px;
        }
    }

    h2 {
        font-size: .875rem;
    }

    .row {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
        margin-bottom: 12px;
        align-items: center;

        &:first-child {
            margin-top: 0px;
        }
    }
}

.settings__dashboard-columns {
    width: 100%;
    padding: 0px;
    list-style-type: none;

    input[type=text] {
        height: auto;
        // width: -webkit-fill-available;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-left: auto;
        box-sizing: border-box;
        background: none;
        color: var(--input-fg);
        border: none;
    }

    li {
        display: flex;
        align-items: center;
        background: var(--input-bg);
        border-radius: 4px;
        margin-bottom: 4px;
        padding: 2px 6px;
    }
}

.settings__dashboard-columns__button {
    cursor: pointer;
    outline: none;
    margin: 0px 4px;
    transition: all $animation-duration;
    opacity: 0.6;
    @include no-select();

    &:hover, &:focus {
        color: var(--action-color);
        opacity: 1;
    }
}
