#torrents {
    .resize-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        cursor: col-resize;

        .resize-indicator {
            position: absolute;
            width: 1px;
            background-color: var(--torrents-border-color);
            // background-color: black;
            top: 0;
            height: 100%;
        }
    }

    .columns > .table-cell {
        .resizer {
            border-right:  solid 1px var(--torrents-border-color);
            height: 100%;
            position: absolute;
            right: $resizer-width / 2;
            width: $resizer-width;
            cursor: col-resize;
        }
    }
}

