@import "@puddle/styles/config";
@import "@puddle/styles/no-select";

#dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    position: relative;
}

#content {
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
        // width: 13px;
        height: 14px;
        displace: none;
    }

    // &:hover {
    //     opacity: 1;
    // }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        min-height: 16px;
        background-color: var(--scrollbar-color);
        background-clip: padding-box;
        border: 3px solid transparent;
        border-radius: 5px;

        // WARN transition on scrollbar background doesn't seem to work.
        transition: background-color 2s;

        &:hover {
            background-color: var(--scrollbar-hover-color);
        }
    }

    // show some message to the user in the center of the screen.
    .message {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
    }
}

.scrollbars {
    & > div:nth-child(2), & > div:nth-child(3) {
        transition: opacity $animation-duration;
        opacity: 0;
        background-color: var(--scroll-bar-color);

        &:hover {
            background-color: var(--scroll-bar-hover-color);
        }
    }

    &:hover {
        & > div:nth-child(2),
        & > div:nth-child(3) {
            opacity: 1;
        }
    }
}

@import "./header";
@import "./table";
