.modal.statistics {
    width: 220px;
    padding: 20px 25px;
    font-size: 0.8rem;

    header {
        padding: 10px 25px 0px 0px;
    }
}

.statistics-table__session {
    width: 100%;
    margin-bottom: 1em;

    thead {
        color: var(--modal-title);
        font-size: 0.85rem;
        padding-top: 10px;
        font-weight: 700;
    }

    tbody {
        color: var(--modal-fg);
        font-weight: 400;

        td:last-child {
            text-align: right;
        }
    }
}
