@import "@styles/mixins/no-select";
@import "@styles/config";

.checkbox-container:not(.with-fallback),
*:hover > .checkbox-container.with-fallback,
.checkbox-container:focus,
.checkbox-container.checked {
    .checkbox {
        background: var(--input-bg);
        border: 1px solid var(--input-border);
    }
}

*:hover > .checkbox-container.with-fallback,
.checkbox-container.with-fallback.checked,
.checkbox-container.with-fallback:focus {
    & > .checkbox > .icon:not(.check) {
        opacity: 0;
        transition: opacity $animation-duration;
    }
}

.checkbox-container {
    outline: none;
    cursor: pointer;

    transition: all $animation-duration;
    transition-property: color, background-color, border;

    display: flex;
    @include no-select;
    align-items: center;

    & > label {
        padding-left: 6px;
        cursor: pointer;
    }

    .check {
        transition: opacity $animation-duration;
    }

    &:not(.checked) .check {
        opacity: 0;
    }

    &:active .checkbox {
        color: var(--input-selected-border);
        background-color: var(--input-selected-bg);
    }

    &:not(:focus) .check {
        width: 16px;
        height: 16px;
    }

    // don't ask, need to increase focus to have more specifity
    // than the *:hover border rule from above.
    &:focus:focus:focus:focus {
        label {
            color: var(--action-color);
        }

        .checkbox {
            border-width: 2px;
            border-color: var(--input-selected-border);
            .check { color: var(--input-selected-border); }
        }
    }
}

.checkbox {
    width:  18px;
    height: 18px;
    border-radius: 4px;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;

    .icon {
        position: absolute;
        width:  100%;
        height: 100%;
        top: 0; left: 0;
        padding: 2px;
        box-sizing: border-box;
    }
}

.checkbox-container--disabled {
    opacity: 0.5;
    cursor: default;

    & > label {
        cursor: default;
    }
}
