@import "@styles/no-select";
@import "@styles/animations/fade-in-down";

.context-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    & > .menu {
        position: relative;
        list-style-type: none;
        color: #53718a;
        font-weight: 400;
        font-size: 0.85rem;
        line-height: 1.25;
        background: #fff;
        padding: 9px 0px;
        border-radius: 4px;
        display: inline-block;
        box-shadow: 0 1px 1px rgba(40,48,59,0.05), 0 1px 3px 1px rgba(40,48,59,0.1), 0 0 0 1px rgba(40,48,59,0.1);

        @include fade-in-down(0.3s);
        li { @include no-select; }

        li.seperator {
            background: rgba(41,51,65,0.075);
            height: 1px;
            margin: 5px 0px;
            padding: 0px;
        }

        li:not(.seperator) {
            cursor: pointer;
            padding: 5px 16px;

            &:hover {
                color: #3e4e61;
                background: rgba(233,238,242,0.4);
            }
        }
    }
}
