@import "@styles/mixins/no-select";
@import "@styles/config";

.modal.torrent-details {
    width: 700px;
    height: 45em;
    display: flex;
    flex-direction: column;

    header {
        padding: 20px 25px;
        border-bottom: solid 1px var(--modal-border-color);

        .icon {
            width:  12px;
            height: 12px;
            margin-right: 3px;
        }
    }

    .badge {
        color: var(--modal-border-color);
        background: var(--modal-fg);
    }

    span.missing {
        font-style: italic;
    }

    .submission-controls {
        justify-content: space-between;

        p {
            margin: 0px;
        }
    }
}


.torrent-details__bar {
    display: flex;
    justify-content: space-between;

    font-size: 0.85rem;
    .unit { font-size: 0.8em; }

    ul {
        display: flex;
        list-style-type: none;

        padding: 0px;
    }

    li {
        font-weight: 400;
        margin-right: 1em;

        &:last-child { margin-right: 0px; }
    }
}

.torrent-details__bar-button {
    cursor: pointer;

    &.torrent-details__bar-button--active {
        font-weight: bold;
        color: var(--action-color);
    }
}

.torrent-details__bar-transfers--active {
    font-weight: bold;

    &.torrent-details__bar-transfers--download {
        color: var(--torrents-downloading-row-progress-fg);
    }

    &.torrent-details__bar-transfers--upload {
        color: var(--torrents-seeding-row-progress-fg);
    }
}
