.torrent-details__general-view {
    width: 100%;
    padding: 1em 1.5em;
    font-size: 0.8rem;

    td:first-child {
        font-weight: 500;
        padding-right: 12px;
    }

    td:not(:first-child) {
        font-weight: 400;
    }

    td[colspan="2"] {
        color: var(--modal-title);
        font-size: 0.85rem;
        padding-top: 10px;
        font-weight: 700;
    }
}
