@import "@styles/config";

$file-tree-horizontal-padding: 25px;
$file-tree-scrollbar-offset:   6px;

.torrent-details__files-view {
    display: flex;
    flex-direction: column;
    width: 100%; height: 100%;
    box-sizing: border-box;

    padding: 20px $file-tree-horizontal-padding;
    padding-right: $file-tree-scrollbar-offset;
}

.torrent-details__file-tree:first-child {
    padding-right: $file-tree-horizontal-padding - $file-tree-scrollbar-offset;
}

.torrent-details__file-tree {
    list-style-type: none;
    font-size: 0.85rem;
    padding: 0px;
    margin: 0px;
    margin-left: 8px;

    li {
        padding: 1px 0px;
    }
}

.file-tree__file {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--modal-fg);
    font-size: 0.8rem;
    height: 18px;
    display: flex;
    align-items: center;
    transition: color $animation-duration;

    &:hover {
        color: var(--modal-title);
    }

    .name {
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & > *:not(:last-child) {
        margin-right: 6.25px;
    }
}

.file-tree__directory > .file-tree__file {
    font-weight: 700;
    color: var(--modal-title);
}
