@mixin button-color-scheme(
    $fg, $bg, $hover-fg, $hover-bg, $active-fg,
    $active-bg, $border, $disabled-fg, $disabled-bg,
    $disabled-border) {
    --fg: #{$fg};
    --bg: #{$bg};
    --hover-fg: #{$hover-fg};
    --hover-bg: #{$hover-bg};
    --active-fg: #{$active-fg};
    --active-bg: #{$active-bg};
    --border: #{$border};
    --disabled-fg: #{$disabled-fg};
    --disabled-bg: #{$disabled-bg};
    --disabled-border: #{$disabled-border};
}

.btn {
    height: 34px;
    outline: none;
    padding: 0px 12px;
    font-weight: 500;
    font-size: 0.875rem;
    transition: all $animation-duration;

    border-radius: 4px;
    cursor: pointer;
    border-style: double;
    outline: none;

    @include button-color-scheme(
        var(--button-fg),
        var(--button-bg),
        var(--button-hover-fg),
        var(--button-hover-bg),
        var(--button-active-fg),
        var(--button-active-bg),
        var(--button-border),
        var(--button-disabled-fg),
        var(--button-disabled-bg),
        var(--button-disabled-border));

    color: var(--fg);
    background: var(--bg);
    border-color: var(--border);

    &[disabled] {
        --fg: var(--disabled-fg);
        --bg: var(--disabled-bg);
        --hover-fg: var(--disabled-fg);
        --hover-bg: var(--disabled-bg);
        --active-fg: var(--disabled-fg);
        --active-bg: var(--disabled-bg);
        --border: var(--disabled-border);

        cursor: not-allowed;
    }

    &:focus {
        --fg: var(--active-fg);
        --bg: var(--active-bg);
    }

    &:hover {
        --fg: var(--hover-fg);
        --bg: var(--hover-bg);
    }
}

.btn--submit {
    @include button-color-scheme(
        var(--button-submit-fg),
        var(--button-submit-bg),
        var(--button-submit-hover-fg),
        var(--button-submit-hover-bg),
        var(--button-submit-active-fg),
        var(--button-submit-active-bg),
        var(--button-submit-border),
        var(--button-submit-disabled-fg),
        var(--button-submit-disabled-bg),
        var(--button-submit-disabled-border));
}
