@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-regular/Roboto-regular.ttf);
}

body {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

h1, h2, h3, h4 {
    color: var(--title);
    font-size: 1.375rem;
    font-weight: 600;
}

#root {
    display: flex;
    height: 100vh;
}

h1 {
    text-align: center;
}

.vl {
    border-right: solid 1px black;
    margin: 0px 4px;
}

.seperator {
    width: 2em;
    height: 1px;
    display: inline-block;
    border-top: solid 1px defaultColor;
    vertical-align: middle;
    margin: 0px 4px;
}

.highlight {
    color: var(--action-color);
    font-weight: bold;
}
