@import "./scrollbar";

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-regular/Roboto-regular.ttf);
}

body {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

#root {
    display: flex;
    height: 100vh;
}

h1 {
  text-align: center;
}

.vl {
    border-right: solid 1px black;
    margin: 0px 4px;
}
