@import "@styles/config";
@import "@styles/animations/fade-in-down";

@mixin notification-color-scheme($selector, $fg, $bg, $hover-bg, $icon-fg, $icon-bg) {
    .notification--#{$selector} {
        --bg: #{$bg};
        --fg: #{$fg};
        --hover-bg: #{$hover-bg};
        --icon-fg: #{$icon-fg};
        --icon-bg: #{$icon-bg};
    }
}

// TODO create dedicated vars in theme.
@include notification-color-scheme(
    "info",
    var(--side-bar-hover-fg),
    var(--side-bar-bg),
    #3d4c61,
    var(--torrents-downloading-row-progress-fg),
    var(--torrents-downloading-row-progress-bg));

@include notification-color-scheme(
    "warning",
    var(--side-bar-hover-fg),
    var(--side-bar-bg),
    #3d4c61,
    var(--torrents-checking-row-progress-fg),
    var(--torrents-checking-row-progress-bg));

@include notification-color-scheme(
    "error",
    var(--side-bar-hover-fg),
    var(--side-bar-bg),
    #3d4c61,
    var(--torrents-error-row-progress-fg),
    var(--torrents-error-row-progress-bg));

.notification {
    @include fade-in-down;

    color: var(--fg);
    background: var(--bg);
    transition: background $animation-duration, width $animation-duration;

    padding: 8px 12px;
    border-radius: 4px;
    margin-top: 0.75em;

    .highlight {
        font-weight: bold;
        color: var(--icon-fg);
    }

    .notification__status-icon {
        box-sizing: border-box;
        border: solid 1px var(--icon-fg);
        color: var(--icon-fg);
        background: var(--icon-bg);
        border-radius: 100%;
        padding: 4px;
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }

    .notification__content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        overflow: hidden;
        white-space: nowrap;
        height: fit-content;
        font-size: 0.85rem;
    }

    .notification__body {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .notification__with-icon {
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.notification--clickable .notification__with-icon {
    cursor: pointer;
}
