@import "@puddle/styles/config";

$border-width: 1px;

.tabbed-menu {
    display: flex;

    .tabs {
        margin: 0px;
        list-style-type: none;

        flex-grow: 0;
        flex-shrink: 0;

        font-size: 0.85rem;
        line-height: 1.25;
        font-weight: 700;

        li {
            position: relative;
            cursor: pointer;
            box-sizing: border-box;
            transition: color $animation-duration;

            &::after {
                content: '';
                position: absolute;
                transition: background $animation-duration;
            }

            &.selected {
                color: var(--action-color);

                &::after {
                    background: currentColor;
                }
            }
        }
    }


    &.vertical {
        flex-direction: column;

        .tabs {
            padding: 0px;
            display: flex;
            border-bottom: solid $border-width var(--modal-border-color);

            li {
                margin-right: 10px;
                padding: 5px 5px 10px 5px;

                &::after {
                    bottom: 0;
                    left: 0;
                    height: $border-width;
                    width: 100%;
                }
            }
        }
    }

    &.horizontal {
        .tabs {
            padding: 20px 0px;
            border-right: solid $border-width var(--modal-border-color);

            li {
                padding: 5px 35px;

                &::after {
                    top: 0;
                    height: 100%;
                    width: $border-width;
                    right: -$border-width;
                }
            }
        }
    }

    .tab {
        flex-grow: 1;
    }
}
