.messages {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    .icon { margin-right: 8px; }
}

.messages__message {
    border-radius: 4px;
    padding: 5px 8px;
    margin-bottom: 12px;
}

.messages__message--error {
    color: var(--torrents-selected-error-row-fg);
    background: var(--torrents-selected-error-row-bg);
}

.messages__message--info {
    color: var(--torrents-selected-seeding-row-fg);
    background: var(--torrents-selected-seeding-row-bg);
}

.messages__message--warning {
    color: var(--torrents-selected-checking-row-fg);
    background: var(--torrents-selected-checking-row-bg);
}
