@import "@styles/config";
@import "@styles/animations/rotating";

button.loader {
    position: relative;
    .loading-icon {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
        position: absolute;

        .icon {
            animation: rotating 2s linear infinite;
        }
    }

    &.loading {
        .loading-icon {
            visibility: visible;
        }

        & > .text {
            visibility: hidden;
        }
    }
}
