@import "@styles/animations/fade-in-down";

.overlay-container {
    position: absolute;
    width:  100%;
    height: 100%;
    z-index: 100;
    background: var(--overlay-background);

    display: flex;
    // align-items: center;
    align-items: flex-start;
    justify-content: center;

    .modal {
        @include fade-in-down();
        margin-top: 80px;

        color: var(--modal-fg);
        background-color: var(--modal-bg);
        border-radius: 3px;

        h1 {
            color: white;
            text-align: left;
            font-size: 1.25em;
            word-break: break-all;
            margin: 0px 0px 6px 0px;
        }
    }
}
