#sidebar {
    height: 100%;
    width: 240px;
    display: flex;
    flex-direction: column;
    background-color: var(--side-bar-bg);
    color: var(--side-bar-fg);

    flex-grow:   0;
    flex-shrink: 0;
}
