@import "@puddle/styles/config";
@import "@puddle/styles/no-select";

#sidebar .ScrollbarsCustom {
    --scrollbar-color: var(--scrollbar-sidebar-color);
    --scrollbar-hover-color: var(--scrollbar-sidebar-hover-color);

    .ScrollbarsCustom-TrackY {
        right: 2 * $scrollbar-offset !important;
    }
}

#sidebar .filter-list {
    $filter-spacing: 4px;
    $filter-indent:  6px;
    list-style-type: none;
    padding: 0px;
    margin: 36px 18px;
    font-size: 0.85rem;
    white-space: nowrap;

    &:first-child {
        margin-top: 0px;
    }

    .icon {
        width:  12px;
        height: 12px;
        margin-right: 4px;
    }

    :not(.title).selected .badge {
        font-weight: normal;
        background: var(--action-color);
    }

    .badge {
        color: black;
        background: var(--side-bar-fg);
        color: var(--side-bar-badge-fg);

        border-radius: 100px;
        padding: 2px 5px;
        margin-left: 8px;
        font-size: 0.75rem;
        line-height: 1;
        display: inline-block;
        padding: 2px 5px;
        transition: background 0.25s;
        vertical-align: middle;
        font-weight: 700;
    }

    li {
        padding: 0px $filter-indent;
        transition: color 0.25s, fill 0.25s;

        &.title {
            font-size: 0.8em;
            margin-bottom: 2px;
            font-weight: bold;
            text-transform: uppercase;
            color: var(--side-bar-title-color);
            cursor: default;
        }

        &.selected {
            color: var(--action-color);
            font-weight: bold;
        }

        &:not(.title) {
            padding: $filter-spacing $filter-indent;
            cursor: pointer;
            @include no-select();
            &:not(.selected):hover {
                color: var(--side-bar-hover-fg);
                fill:  var(--side-bar-hover-fg);
            }
        }
    }
}

@import "./search";
