$icon-width: 12px;

.sidebar__buttons {
    margin: 4px;

    .icon {
        width: 12px;
        padding: 10px;
    }

    .tooltip {
        &:last-child {
            float: right;
        }

        path { transition: fill 0.5s; }
        &:hover, &.selected, &:focus {
            color: var(--action-color);
        }
    }
}
