@import "@puddle/styles/config";
@import "@puddle/styles/rotating";

@mixin button-loader-color-scheme(
    $fg, $bg, $hover-fg, $hover-bg, $active-fg,
    $active-bg, $border, $disabled-fg, $disabled-bg,
    $disabled-border) {
    --fg: #{$fg};
    --bg: #{$bg};
    --hover-fg: #{$hover-fg};
    --hover-bg: #{$hover-bg};
    --active-fg: #{$active-fg};
    --active-bg: #{$active-bg};
    --border: #{$border};
    --disabled-fg: #{$disabled-fg};
    --disabled-bg: #{$disabled-bg};
    --disabled-border: #{$disabled-border};
}

button.loader {
    // TODO move to somewhere on theme.
    @include button-loader-color-scheme(
        #fff,
        #8899A8,
        #fff,
        #9dabb7,
        #fff,
        #768a9b,
        #768a9b,
        #9dabb7,
        #e9eef2,
        #d6dfe7);

    &[disabled] {
        --fg: var(--disabled-fg);
        --bg: var(--disabled-bg);
        --hover-fg: var(--disabled-fg);
        --hover-bg: var(--disabled-bg);
        --active-fg: var(--disabled-fg);
        --active-bg: var(--disabled-bg);
        --border: var(--disabled-border);

        cursor: not-allowed;
    }

    &:hover {
        --fg: var(--hover-fg);
        --bg: var(--hover-bg);
    }

    height: 34px;
    outline: none;
    padding: 0px 12px;
    color: var(--fg);
    font-weight: 500;
    background: var(--bg);
    border-color: var(--border);
    font-size: 0.875rem;
    transition: all $animation-duration;
    border-radius: 4px;
    cursor: pointer;
    border-style: double;

    position: relative;
    .loading-icon {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
        position: absolute;

        .icon {
            animation: rotating 2s linear infinite;
        }
    }

    &:select {
        outline: 0;
    }

    &.loading {
        .loading-icon {
            visibility: visible;
        }

        & > .text {
            visibility: hidden;
        }
    }
}
