.torrents-list__header {
    display: inline-flex;
    position: relative;
    border-bottom: solid 1px var(--torrents-border-color);

    & > .cell {
        height: 24px;
        font-size: 12px;
        cursor: pointer;
        position: relative;
        padding: 0px #{$order-indicator-width + 2 * $order-indicator-offset} 0px 6px;

        color: var(--torrents-column-color);
        transition: color $animation-duration;
        &:hover {
            color: var(--torrents-column-hover-color);
        }


        &::after {
            opacity: 0;
            transition: opacity $animation-duration;
        }

        &.selected {
            font-weight: 700;
            position: relative;
            color: var(--torrents-selected-column-color);
            &:hover {
                color: var(--torrents-selected-column-hover-color);
            }

            &::after {
                border-left:  $order-indicator-width solid transparent;
                border-right: $order-indicator-width solid transparent;
                border-top:   5px solid black;
                content: '';
                margin-top: -3px;
                position: absolute;
                right: $order-indicator-offset + $resizer-width;
                top: 50%;
                transition: transform $animation-duration;
                opacity: 0.5;
            }

            &.descending::after {
                transform: rotate(180deg);
            }
        }
    }
}

.torrents-list .resize-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    cursor: col-resize;

    .resize-indicator {
        position: absolute;
        width: 1px;
        background-color: var(--torrents-border-color);
        // background-color: black;
        top: 0;
        height: 100%;
    }
}

.torrents-list__header > .cell .resizer {
    border-right:  solid 1px var(--torrents-border-color);
    height: 100%;
    position: absolute;
    right: $resizer-width / 2;
    width: $resizer-width;
    cursor: col-resize;
}
