@import "@styles/config";

.drag-drop-region {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px 20px;
    transition: color $animation-duration;

    cursor: pointer;

    p { margin-bottom: 0px; }

    .highlight {
        text-decoration: underline;
    }

    .drag-drop-region__icon {
        width:  64px;
        height: 64px;
    }

    &:hover .drag-drop-region__icon {
        color: var(--action-color);
    }
}


